# Agradecimientos 

Los datos usados en este analisis en su totalidad,  fueron gracias a los datos abiertos del area metropolitana del Valle de Aburra :

 * https://datosabiertos.metropol.gov.co/

In [1]:
import pandas as pd

In [7]:
df_ozono=pd.read_json('https://siata.gov.co/EntregaData1/Datos_SIATA_Aire_ozono.json')

In [9]:
len(df_ozono)

9

# Datos calidad del aire PM 2.5

In [3]:
df_PM2=pd.read_json('https://siata.gov.co/EntregaData1/Datos_SIATA_Aire_pm25.json')

In [6]:
len(df_PM2['datos'][0])

8761

In [13]:
len(df_PM2) # Datos de 21 estaciones

21

In [15]:
df_PM2_Geo_sta=df_PM2[['codigoSerial','latitud','longitud','nombre']]

In [18]:
df_data=df_PM2[['codigoSerial','datos']]

In [21]:
df_data.to_json('Datos_PM25.json') # 8561 datos

In [30]:
df_data['datos'][0][0]['fecha'] # Fecha

'2018-11-07 04:00:00'

In [32]:
df_data['datos'][0][0]['calidad'] # Calidad

'1.0'

In [35]:
df_data['datos'][0][0]['valor'] # Valor

4.0

In [36]:
len(df_data['datos'][0])

8761

In [41]:
len(df_data['codigoSerial']) # arreglo pra extraer datos de las estaciones

21

In [43]:
df_data['codigoSerial'][0]

3

In [56]:
estacion=[]
fecha=[]
calidad=[]
valor=[]
for estaciones in range(len(df_data['codigoSerial'])):
    print('aqui vamos por la estacion : ' + str(estaciones))
    for data in range(len(df_data['datos'][estaciones])):
        estacion.append(df_data['codigoSerial'][estaciones])
        fecha.append(df_data['datos'][estaciones][data]['fecha'])
        calidad.append(df_data['datos'][estaciones][data]['calidad'])
        valor.append(df_data['datos'][estaciones][data]['valor'])

aqui vamos por la estacion : 0
aqui vamos por la estacion : 1
aqui vamos por la estacion : 2
aqui vamos por la estacion : 3
aqui vamos por la estacion : 4
aqui vamos por la estacion : 5
aqui vamos por la estacion : 6
aqui vamos por la estacion : 7
aqui vamos por la estacion : 8
aqui vamos por la estacion : 9
aqui vamos por la estacion : 10
aqui vamos por la estacion : 11
aqui vamos por la estacion : 12
aqui vamos por la estacion : 13
aqui vamos por la estacion : 14
aqui vamos por la estacion : 15
aqui vamos por la estacion : 16
aqui vamos por la estacion : 17
aqui vamos por la estacion : 18
aqui vamos por la estacion : 19
aqui vamos por la estacion : 20

In [60]:
datos={'Estacion':estacion,'Fecha':fecha,'Valor PM25':valor,'Calidad':calidad}

In [68]:
df_final=pd.DataFrame(datos)

In [79]:
df_final.describe()

            Estacion     Valor PM25
count  183981.000000  183981.000000
mean       61.952381     240.478293
std        27.908901    5151.587554
min         3.000000   -9999.000000
25%        38.000000      11.187600
50%        79.000000      18.000000
75%        84.000000      27.000000
max        90.000000  115035.000000

In [80]:
df_final[df_final['Valor PM25']==115035.0]

        Estacion                Fecha  Valor PM25 Calidad
171893        88  2019-06-21 14:00:00    115035.0     3.0

In [82]:
df_final[df_final['Estacion']==88].describe()

       Estacion     Valor PM25
count    8761.0    8761.000000
mean       88.0     464.447931
std         0.0    6732.477669
min        88.0   -9999.000000
25%        88.0      10.808900
50%        88.0      16.035200
75%        88.0      23.024700
max        88.0  115035.000000

In [85]:
len(df_final[df_final['Valor PM25']>150])

1054

# Eliminamos los Outliers

In [101]:
datos_val=df_final[(df_final['Valor PM25']>0) & (df_final['Valor PM25']<300) ]

In [102]:
datos_val.describe()

            Estacion    Valor PM25
count  180010.000000  180010.00000
mean       61.981079      20.60416
std        27.866368      12.59394
min         3.000000       1.00000
25%        38.000000      11.93810
50%        79.000000      18.04085
75%        84.000000      27.00000
max        90.000000     298.64300

In [103]:
len(datos_val)

180010

In [107]:
geo_ozono=df_ozono[['codigoSerial','latitud','longitud','nombre']]
datos_ozono=df_ozono[['codigoSerial','datos']]

In [110]:
datos_ozono['datos'][0][0]

{'variableConsulta': 'ozono',
 'fecha': '2018-11-07 04:00:00',
 'calidad': '1.0',
 'valor': 11.582098161500001}

In [116]:
estacion=[]
fecha=[]
calidad=[]
valor=[]
variable=[]
for estaciones in range(len(datos_ozono['codigoSerial'])):
    print('aqui vamos por la estacion : ' + str(estaciones))
    for data in range(len(datos_ozono['datos'][estaciones])):
        estacion.append(datos_ozono['codigoSerial'][estaciones])
        fecha.append(datos_ozono['datos'][estaciones][data]['fecha'])
        calidad.append(datos_ozono['datos'][estaciones][data]['calidad'])
        valor.append(datos_ozono['datos'][estaciones][data]['valor'])
        variable.append(datos_ozono['datos'][estaciones][data]['variableConsulta'])

aqui vamos por la estacion : 0
aqui vamos por la estacion : 1
aqui vamos por la estacion : 2
aqui vamos por la estacion : 3
aqui vamos por la estacion : 4
aqui vamos por la estacion : 5
aqui vamos por la estacion : 6
aqui vamos por la estacion : 7
aqui vamos por la estacion : 8

In [117]:
datos={'Estacion':estacion,'Fecha':fecha,'Valor Ozono':valor,'Calidad':calidad,'Variable Consulta':variable}

In [118]:
dfinal_ozono=pd.DataFrame(datos)

In [123]:
dfinal_ozono.describe()

           Estacion   Valor Ozono
count  78849.000000  78849.000000
mean      33.555556   -674.143895
std       12.203093   2559.322651
min        3.000000  -9999.000000
25%       31.000000      3.926135
50%       38.000000     14.919313
75%       41.000000     42.402258
max       44.000000   4409.245878

# Eliminamos Outliers

In [124]:
datos_val2=dfinal_ozono[(dfinal_ozono['Valor Ozono']>0) & (dfinal_ozono['Valor Ozono']<300) ]

In [127]:
datos_val2.describe()

           Estacion   Valor Ozono
count  71714.000000  71714.000000
mean      34.086259     28.564651
std       11.421531     28.305640
min        3.000000      0.005414
25%       31.000000      5.889202
50%       38.000000     18.452834
75%       41.000000     45.346859
max       44.000000    284.841092

In [144]:
datos_val['Fecha'][0].split()[0].split('-')[0]  # año

'2018'

In [146]:
datos_val['Fecha'][0].split()[0].split('-')[1]  # mes
datos_val['Fecha'][0].split()[0].split('-')[2]  # Dia

'07'

In [157]:
datos_val['Fecha'][0].split()[1].split(':')[0] # Hora

'04'

In [158]:
datos_val['año']=datos_val['Fecha'].apply(lambda x : x.split()[0].split('-')[0])
datos_val['mes']=datos_val['Fecha'].apply(lambda x : x.split()[0].split('-')[1])
datos_val['dia']=datos_val['Fecha'].apply(lambda x : x.split()[0].split('-')[2])
datos_val['hora']=datos_val['Fecha'].apply(lambda x : x.split()[1].split(':')[0])

/home/alexbonella2806/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/alexbonella2806/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/alexbonella2806/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/alexbonella2806/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [159]:
datos_val

        Estacion                Fecha  Valor PM25 Calidad   año mes dia hora
0              3  2018-11-07 04:00:00     4.00000     1.0  2018  11  07   04
1              3  2018-11-07 05:00:00     7.00000     1.0  2018  11  07   05
2              3  2018-11-07 06:00:00    24.00000     1.0  2018  11  07   06
3              3  2018-11-07 07:00:00    15.00000     1.0  2018  11  07   07
4              3  2018-11-07 08:00:00    23.00000     1.0  2018  11  07   08
5              3  2018-11-07 09:00:00    13.00000     1.0  2018  11  07   09
6              3  2018-11-07 10:00:00    16.00000     1.0  2018  11  07   10
7              3  2018-11-07 11:00:00     2.00000     2.1  2018  11  07   11
8              3  2018-11-07 12:00:00     6.00000     1.0  2018  11  07   12
9              3  2018-11-07 13:00:00     9.00000     1.0  2018  11  07   13
10             3  2018-11-07 14:00:00    16.00000     1.0  2018  11  07   14
11             3  2018-11-07 15:00:00    15.00000     1.0  2018  11  07   15
12             3  2018-11-07 16:00:00     8.00000     1.0  2018  11  07   16
13             3  2018-11-07 17:00:00     9.00000     1.0  2018  11  07   17
14             3  2018-11-07 18:00:00     8.00000     1.0  2018  11  07   18
15             3  2018-11-07 19:00:00    10.00000     1.0  2018  11  07   19
16             3  2018-11-07 20:00:00    10.00000     1.0  2018  11  07   20
17             3  2018-11-07 21:00:00     3.00000     2.1  2018  11  07   21
18             3  2018-11-07 22:00:00     5.00000     1.0  2018  11  07   22
19             3  2018-11-07 23:00:00    18.00000     1.0  2018  11  07   23
20             3  2018-11-08 00:00:00     6.00000     1.0  2018  11  08   00
21             3  2018-11-08 01:00:00     9.00000     1.0  2018  11  08   01
22             3  2018-11-08 02:00:00    12.00000     1.0  2018  11  08   02
23             3  2018-11-08 03:00:00    13.00000     1.0  2018  11  08   03
24             3  2018-11-08 04:00:00    10.00000     1.0  2018  11  08   04
25             3  2018-11-08 05:00:00     8.00000     1.0  2018  11  08   05
26             3  2018-11-08 06:00:00     7.00000     1.0  2018  11  08   06
27             3  2018-11-08 07:00:00    18.00000     1.0  2018  11  08   07
28             3  2018-11-08 08:00:00    18.00000     1.0  2018  11  08   08
29             3  2018-11-08 09:00:00    13.00000     1.0  2018  11  08   09
...          ...                  ...         ...     ...   ...  ..  ..  ...
183951        90  2019-11-05 23:00:00    21.97660     1.0  2019  11  05   23
183952        90  2019-11-06 00:00:00    23.22720     1.0  2019  11  06   00
183953        90  2019-11-06 01:00:00    20.79240     1.0  2019  11  06   01
183954        90  2019-11-06 02:00:00    13.48360     1.0  2019  11  06   02
183955        90  2019-11-06 03:00:00    12.23990     1.0  2019  11  06   03
183956        90  2019-11-06 04:00:00     9.77823     1.0  2019  11  06   04
183957        90  2019-11-06 05:00:00    17.09320     1.0  2019  11  06   05
183958        90  2019-11-06 06:00:00    18.29550     1.0  2019  11  06   06
183959        90  2019-11-06 07:00:00    23.14000     1.0  2019  11  06   07
183960        90  2019-11-06 08:00:00    30.65150     1.0  2019  11  06   08
183961        90  2019-11-06 09:00:00    24.65600     1.0  2019  11  06   09
183962        90  2019-11-06 10:00:00    27.34680     1.0  2019  11  06   10
183963        90  2019-11-06 11:00:00    28.69500     1.0  2019  11  06   11
183964        90  2019-11-06 12:00:00    20.07980     1.0  2019  11  06   12
183965        90  2019-11-06 13:00:00    23.93910     1.0  2019  11  06   13
183966        90  2019-11-06 14:00:00    11.39660     1.0  2019  11  06   14
183967        90  2019-11-06 15:00:00    10.11420     1.0  2019  11  06   15
183968        90  2019-11-06 16:00:00    17.62580     1.0  2019  11  06   16
183969        90  2019-11-06 17:00:00     5.02392     1.0  2019  11  06   17
183970        90  2019-11-06 18:00:00     9.96771     1.0  2019  11  06   18
183971        90  2019-11-06 19:00:00    13.61810     1.0  2019  11  06   19
183972        90  2019-11-06 20:00:00     4.94349     1.0  2019  11  06   20
183973        90  2019-11-06 21:00:00     9.84724     1.0  2019  11  06   21
183974        90  2019-11-06 22:00:00    11.03100     1.0  2019  11  06   22
183975        90  2019-11-06 23:00:00    11.00220     1.0  2019  11  06   23
183976        90  2019-11-07 00:00:00    12.20470     1.0  2019  11  07   00
183977        90  2019-11-07 01:00:00    10.99470     1.0  2019  11  07   01
183978        90  2019-11-07 02:00:00    14.68350     1.0  2019  11  07   02
183979        90  2019-11-07 03:00:00    24.49270     1.0  2019  11  07   03
183980        90  2019-11-07 04:00:00    17.13670     1.0  2019  11  07   04

[180010 rows x 8 columns]

In [161]:
datos_val2['año']=datos_val2['Fecha'].apply(lambda x : x.split()[0].split('-')[0])
datos_val2['mes']=datos_val2['Fecha'].apply(lambda x : x.split()[0].split('-')[1])
datos_val2['dia']=datos_val2['Fecha'].apply(lambda x : x.split()[0].split('-')[2])
datos_val2['hora']=datos_val2['Fecha'].apply(lambda x : x.split()[1].split(':')[0])

/home/alexbonella2806/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/alexbonella2806/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/alexbonella2806/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/alexbonella2806/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [162]:
datos_val2

,Estacion,Fecha,Valor Ozono,Calidad,Variable Consulta,año,mes,dia,hora
0,3,2018-11-07 04:00:00,11.582098,1.0,ozono,2018,11,07,04
1,3,2018-11-07 05:00:00,8.048577,1.0,ozono,2018,11,07,05
2,3,2018-11-07 06:00:00,8.244883,1.0,ozono,2018,11,07,06
3,3,2018-11-07 07:00:00,8.244883,1.0,ozono,2018,11,07,07
4,3,2018-11-07 08:00:00,10.600564,1.0,ozono,2018,11,07,08
5,3,2018-11-07 09:00:00,14.723006,1.0,ozono,2018,11,07,09
6,3,2018-11-07 10:00:00,18.649141,1.0,ozono,2018,11,07,10
7,3,2018-11-07 11:00:00,31.998000,1.0,ozono,2018,11,07,11
8,3,2018-11-07 12:00:00,38.279816,1.0,ozono,2018,11,07,12
9,3,2018-11-07 13:00:00,38.672429,1.0,ozono,2018,11,07,13
10,3,2018-11-07 14:00:00,38.868736,1.0,ozono,2018,11,07,14
11,3,2018-11-07 15:00:00,37.494589,1.0,ozono,2018,11,07,15
12,3,2018-11-07 16:00:00,35.335215,1.0,ozono,2018,11,07,16
13,3,2018-11-07 17:00:00,26.305104,1.0,ozono,2018,11,07,17
14,3,2018-11-07 18:00:00,20.808515,1.0,ozono,2018,11,07,18
15,3,2018-11-07 19:00:00,20.415902,1.0,ozono,2018,11,07,19
16,3,2018-11-07 20:00:00,20.808515,1.0,ozono,2018,11,07,20
17,3,2018-11-07 21:00:00,15.508233,1.0,ozono,2018,11,07,21
18,3,2018-11-07 22:00:00,9.619031,1.0,ozono,2018,11,07,22
19,3,2018-11-07 23:00:00,9.226417,1.0,ozono,2018,11,07,23
20,3,2018-11-08 00:00:00,7.852270,1.0,ozono,2018,11,08,00
21,3,2018-11-08 01:00:00,9.619031,1.0,ozono,2018,11,08,01
22,3,2018-11-08 02:00:00,10.993178,1.0,ozono,2018,11,08,02
23,3,2018-11-08 03:00:00,13.937779,1.0,ozono,2018,11,08,03
24,3,2018-11-08 04:00:00,17.078687,1.0,ozono,2018,11,08,04
25,3,2018-11-08 05:00:00,12.759939,1.0,ozono,2018,11,08,05
26,3,2018-11-08 06:00:00,9.422724,1.0,ozono,2018,11,08,06
27,3,2018-11-08 07:00:00,11.974712,1.0,ozono,2018,11,08,07
28,3,2018-11-08 08:00:00,11.778405,1.0,ozono,2018,11,08,08
29,3,2018-11-08 09:00:00,22.182663,1.0,ozono,2018,11,08,09
...,...,...,...,...,...,...,...,...,...
78819,44,2019-11-05 23:00:00,2.355681,1.0,ozono,2019,11,05,23
78820,44,2019-11-06 00:00:00,4.122442,1.0,ozono,2019,11,06,00
78821,44,2019-11-06 01:00:00,4.515055,1.0,ozono,2019,11,06,01
78822,44,2019-11-06 02:00:00,4.122442,1.0,ozono,2019,11,06,02
78823,44,2019-11-06 03:00:00,4.515055,1.0,ozono,2019,11,06,03
78824,44,2019-11-06 04:00:00,12.759939,1.0,ozono,2019,11,06,04
78825,44,2019-11-06 05:00:00,10.993178,1.0,ozono,2019,11,06,05
78826,44,2019-11-06 06:00:00,5.889202,1.0,ozono,2019,11,06,06
78827,44,2019-11-06 07:00:00,2.551988,1.0,ozono,2019,11,06,07
78828,44,2019-11-06 08:00:00,6.478123,1.0,ozono,2019,11,06,08
78829,44,2019-11-06 09:00:00,19.630675,1.0,ozono,2019,11,06,09
78830,44,2019-11-06 10:00:00,33.568454,1.0,ozono,2019,11,06,10
78831,44,2019-11-06 11:00:00,80.485767,1.0,ozono,2019,11,06,11
78832,44,2019-11-06 12:00:00,90.693718,1.0,ozono,2019,11,06,12
78833,44,2019-11-06 13:00:00,69.885202,1.0,ozono,2019,11,06,13
78834,44,2019-11-06 14:00:00,62.425546,1.0,ozono,2019,11,06,14
78835,44,2019-11-06 15:00:00,61.247706,1.0,ozono,2019,11,06,15
78836,44,2019-11-06 16:00:00,47.309926,1.0,ozono,2019,11,06,16
78837,44,2019-11-06 17:00:00,53.002822,1.0,ozono,2019,11,06,17
78838,44,2019-11-06 18:00:00,19.630675,1.0,ozono,2019,11,06,18
78839,44,2019-11-06 19:00:00,22.378969,1.0,ozono,2019,11,06,19
78840,44,2019-11-06 20:00:00,19.041755,1.0,ozono,2019,11,06,20
78841,44,2019-11-06 21:00:00,10.993178,1.0,ozono,2019,11,06,21
78842,44,2019-11-06 22:00:00,3.729828,1.0,ozono,2019,11,06,22
78843,44,2019-11-06 23:00:00,15.115620,1.0,ozono,2019,11,06,23
78844,44,2019-11-07 00:00:00,14.526699,2.3,ozono,2019,11,07,00
78845,44,2019-11-07 01:00:00,12.171018,1.0,ozono,2019,11,07,01
78846,44,2019-11-07 02:00:00,11.974712,1.0,ozono,2019,11,07,02
78847,44,2019-11-07 03:00:00,15.115620,1.0,ozono,2019,11,07,03
78848,44,2019-11-07 04:00:00,11.189485,1.0,ozono,2019,11,07,04

In [164]:
datos_val2.to_csv('datos_ozono.csv')
datos_val.to_csv('datos_PM25.csv')

In [165]:
datos_val

        Estacion                Fecha  Valor PM25 Calidad   año mes dia hora
0              3  2018-11-07 04:00:00     4.00000     1.0  2018  11  07   04
1              3  2018-11-07 05:00:00     7.00000     1.0  2018  11  07   05
2              3  2018-11-07 06:00:00    24.00000     1.0  2018  11  07   06
3              3  2018-11-07 07:00:00    15.00000     1.0  2018  11  07   07
4              3  2018-11-07 08:00:00    23.00000     1.0  2018  11  07   08
5              3  2018-11-07 09:00:00    13.00000     1.0  2018  11  07   09
6              3  2018-11-07 10:00:00    16.00000     1.0  2018  11  07   10
7              3  2018-11-07 11:00:00     2.00000     2.1  2018  11  07   11
8              3  2018-11-07 12:00:00     6.00000     1.0  2018  11  07   12
9              3  2018-11-07 13:00:00     9.00000     1.0  2018  11  07   13
10             3  2018-11-07 14:00:00    16.00000     1.0  2018  11  07   14
11             3  2018-11-07 15:00:00    15.00000     1.0  2018  11  07   15
12             3  2018-11-07 16:00:00     8.00000     1.0  2018  11  07   16
13             3  2018-11-07 17:00:00     9.00000     1.0  2018  11  07   17
14             3  2018-11-07 18:00:00     8.00000     1.0  2018  11  07   18
15             3  2018-11-07 19:00:00    10.00000     1.0  2018  11  07   19
16             3  2018-11-07 20:00:00    10.00000     1.0  2018  11  07   20
17             3  2018-11-07 21:00:00     3.00000     2.1  2018  11  07   21
18             3  2018-11-07 22:00:00     5.00000     1.0  2018  11  07   22
19             3  2018-11-07 23:00:00    18.00000     1.0  2018  11  07   23
20             3  2018-11-08 00:00:00     6.00000     1.0  2018  11  08   00
21             3  2018-11-08 01:00:00     9.00000     1.0  2018  11  08   01
22             3  2018-11-08 02:00:00    12.00000     1.0  2018  11  08   02
23             3  2018-11-08 03:00:00    13.00000     1.0  2018  11  08   03
24             3  2018-11-08 04:00:00    10.00000     1.0  2018  11  08   04
25             3  2018-11-08 05:00:00     8.00000     1.0  2018  11  08   05
26             3  2018-11-08 06:00:00     7.00000     1.0  2018  11  08   06
27             3  2018-11-08 07:00:00    18.00000     1.0  2018  11  08   07
28             3  2018-11-08 08:00:00    18.00000     1.0  2018  11  08   08
29             3  2018-11-08 09:00:00    13.00000     1.0  2018  11  08   09
...          ...                  ...         ...     ...   ...  ..  ..  ...
183951        90  2019-11-05 23:00:00    21.97660     1.0  2019  11  05   23
183952        90  2019-11-06 00:00:00    23.22720     1.0  2019  11  06   00
183953        90  2019-11-06 01:00:00    20.79240     1.0  2019  11  06   01
183954        90  2019-11-06 02:00:00    13.48360     1.0  2019  11  06   02
183955        90  2019-11-06 03:00:00    12.23990     1.0  2019  11  06   03
183956        90  2019-11-06 04:00:00     9.77823     1.0  2019  11  06   04
183957        90  2019-11-06 05:00:00    17.09320     1.0  2019  11  06   05
183958        90  2019-11-06 06:00:00    18.29550     1.0  2019  11  06   06
183959        90  2019-11-06 07:00:00    23.14000     1.0  2019  11  06   07
183960        90  2019-11-06 08:00:00    30.65150     1.0  2019  11  06   08
183961        90  2019-11-06 09:00:00    24.65600     1.0  2019  11  06   09
183962        90  2019-11-06 10:00:00    27.34680     1.0  2019  11  06   10
183963        90  2019-11-06 11:00:00    28.69500     1.0  2019  11  06   11
183964        90  2019-11-06 12:00:00    20.07980     1.0  2019  11  06   12
183965        90  2019-11-06 13:00:00    23.93910     1.0  2019  11  06   13
183966        90  2019-11-06 14:00:00    11.39660     1.0  2019  11  06   14
183967        90  2019-11-06 15:00:00    10.11420     1.0  2019  11  06   15
183968        90  2019-11-06 16:00:00    17.62580     1.0  2019  11  06   16
183969        90  2019-11-06 17:00:00     5.02392     1.0  2019  11  06   17
183970        90  2019-11-06 18:00:00     9.96771     1.0  2019  11  06   18
183971        90  2019-11-06 19:00:00    13.61810     1.0  2019  11  06   19
183972        90  2019-11-06 20:00:00     4.94349     1.0  2019  11  06   20
183973        90  2019-11-06 21:00:00     9.84724     1.0  2019  11  06   21
183974        90  2019-11-06 22:00:00    11.03100     1.0  2019  11  06   22
183975        90  2019-11-06 23:00:00    11.00220     1.0  2019  11  06   23
183976        90  2019-11-07 00:00:00    12.20470     1.0  2019  11  07   00
183977        90  2019-11-07 01:00:00    10.99470     1.0  2019  11  07   01
183978        90  2019-11-07 02:00:00    14.68350     1.0  2019  11  07   02
183979        90  2019-11-07 03:00:00    24.49270     1.0  2019  11  07   03
183980        90  2019-11-07 04:00:00    17.13670     1.0  2019  11  07   04

[180010 rows x 8 columns]